# Compiled binaries
*.exe
*.out
*.o
*.obj

# Build folders
build/
bin/
dist/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.vcxproj.user
*.suo

# Code::Blocks
*.layout
*.depend

# CLion / JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db